footer{
  font-size: x-small;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 10%;
}
.frame1{
  background: url("images/Background1.png");
  position: absolute;
}
.title{
  left: 50%;
}
.sub-title{
  left:50%;
}

.explain{
  position: absolute;
  top: 8px;
  opacity: 0.5;
  background-color: #ffffff;
}

/*.bgrd{
  opacity: 0.5;
}*/

body{
  padding: 1em;
}
.left {
  position: relative;
  left: 0px;
  width: 350px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.right {
  position: absolute;
  right: 0px;
  width: 1000px;
  border: 2px solid #73AD21;
  padding: 10px;
  float: right;
}

svg{
  width:90%;
  padding-left:0%;
  padding-right: 0%;
  padding-top: 0%;
}

.side-filter{
  width:70%;
  height:50%;
  font-size:100%;
  padding-top:5%;
  padding-left:7%;

}

.filter_title{
  font-weight: bold;
}

.title_hist{
  padding-top: 3%;
  padding-left:7%;
}

#vaContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column{
    background-size: cover;
    background-position: top center;
    margin: auto; /*top right bottom left*/
    width: 50%; height: 50%;
    cursor:pointer;
    padding-bottom: 1em;
}

ol{
  display: inline-block;
  text-align: left;
}